@model MyProject.Models.User

@{
    ViewData["Title"] = "Login";
}

<!-- رابط ملف CSS -->
<link href="~/css/StyleLogin.css" rel="stylesheet" type="text/css" />

<div class="login">
    <h3>Welcome to Our System</h3>
    @if (ViewBag.error != "")
    {
        <span class="text-danger">@ViewBag.error</span>
    }
    <form asp-action="Login" method="post" id="LoginForm">
        <div hidden>
            <label asp-for="@Model.Id"></label>
            <input asp-for="@Model.Id" class="" />
            <span asp-validation-for="Id" style="color:red"></span>
        </div>

        <div>
            <label asp-for="@Model.Email">Email Address</label>
            <input asp-for="@Model.Email" id="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="@Model.Password">Password</label>
            <input asp-for="@Model.Password" id="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <input type="submit" value="Login" />
        <a href="~/User/Signup" class="btn-primary">Signup</a>
    </form>
</div>

<!-- رابط ملف JavaScript -->
<script src="~/js/JavaScriptLogine.js"></script>
